<p id="notice"><%= notice %></p>

<p>
  <b>Név</b>
  <%= @project.name %>
</p>

<p>
  <b>Leírás</b>
  <br />
  <%= @project.description %>
</p>

<% if logged_in? %>
<%= link_to 'Szerkesztés', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Vissza', projects_path %>
