<!DOCTYPE html>
<html>
<head>
  <title>Nyilvantartas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/loginform' %>
<h1>Tag nyilvántartás</h1>
<%= yield %>
<div id="footer">Copyright &copy; 2012 | Szél Péter</div>
</body>
</html>
