<% if @members.count > 0 %>
<table>
  <tr>
    <th><%= link_to 'Név', params.merge({:order_by => :name}) %></th>
    <th><%= link_to 'Becenév', params.merge({:order_by => :nick}) %></th>
    <th><%= link_to 'Email cím', params.merge({:order_by => :email}) %></th>
    <th><%= link_to 'Betöltött pozíciók', params.merge({:order_by => :positions})  %> </th>
    <th>Öreg tag?</th>
    <% if logged_in? %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= link_to member.name, member %></td>
    <td><%= member.nick %></td>
    <td><%= member.email %></td>
    <td><%= member.positions %></td>
    <td><%= member.is_senior ? :igen : :nem %></td>
    <% if logged_in? %>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% else %>
	Sajnos nincs megjeleníthető találat.
<% end %>
