<p id="notice"><%= notice %></p>

<p>
  <%= image_tag '/pics/' + @member.image_link, :alt => 'profil kép', :style => 'float: right' %>
</p>

<p>
  <b>Név:</b>
  <%= @member.name %>
</p>

<p>
  <b>Becenév:</b>
  <%= @member.nick %>
</p>

<p>
  <b>Email cím:</b>
  <%= @member.email %>
</p>

<p>
  <b>Betöltött posztok:</b>
  <%= @member.positions %>
</p>

<p>
  <b>Öreg tag?:</b>
  <%= @member.is_senior ? :igen : :nem %>
</p>

<p>
  <b>Bemutatkozás</b>
  <br />
  <%= @member.introduction %>
</p>



<% if logged_in? %>
<%= link_to 'Szerkesztés', edit_member_path(@member) %> |
<% end %>
<%= link_to 'Vissza', members_path %>
  <div style="clear: both"></div>
